@charset "utf-8";
.background_withloading {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background:while;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
.background_withloading {
    background: white url(../image/loading.gif) no-repeat center;
    

}
